#profile{
    
    background-color: blueviolet;
}

#profile2{
    color: aquamarine;
    background-color: rgb(248, 20, 20);
}

#rrr{
    color: rgb(0, 47, 255);
    background-color: rgb(241, 29, 195);
}

.red{
    color: aqua;
}